<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Managia {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="bg-gray-50 dark:bg-gray-800">
    {% include "partials/_navbar.html" %}

    <div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
        {% include "partials/_sidebar.html" %}
        <div id="main-content" class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900">
            <main>
                {% block content %}
                {% endblock %}
            </main>
            {% include "partials/_footer.html" %}
        </div>
    </div>
    
    {% block modals %}{% endblock %}

    
    <script src="{% static 'js/flowbite.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>

</html>